# Compiled sources
*.pyc

# Setup
**.egg*

# Jupyter notebooks
**.ipynb_checkpoints*

# Sphinx documentation
_build

# Editor files
.idea
scripts/out/
scripts/envComparisonGraphs
scripts/intersection_env_comparison_graphs
# Test files
.pytest_cache
.cache

# Outputs
**/out/*
.venv
